/* Dropdown menu stylesheet */

/* Dropdown menu thing */
.mainDropdown {
    float: left;
    overflow: hidden;
}

/* Main dropdown menu and button design */
.mainDropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Main design for the dropdown <span> */
.mainContent {
    display: none;
    position: absolute;
    background-color: #343434;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links in dropdown */
.mainContent a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Links hover colour */
.mainContent a:hover {
    background-color: green;
}

/* Something I don't fully know what does either;
As long as it works, right? */
.show {
    display: block;
}