.mainDropdown {
    float: left;
    overflow: hidden;
}

.mainDropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.mainContent {
    display: none;
    position: absolute;
    background-color: #343434;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.mainContent a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.mainContent a:hover {
    background-color: green;
}

.show {
    display: block;
}